.DS_Store
.settings
.project
.classpath
target
.idea
*.iml
cas.log
/koala-bpm/koala-jbpm-core/koala-jbpm-core-war/bin
/koala-bpm/koala-jbpm-core/koala-jbpm-core-war/btm2.tlog
/koala-bpm/koala-jbpm-core/koala-jbpm-core-war/btm1.tlog
/koala-bpm/koala-jbpm-core/koala-jbpm-core-war/btm2.tlog

/koala-opencis/koala-opencis-jekins/logs
/koala-opencis/koala-opencis-jekins/bin

/koala-opencis/koala-opencis-trac/bin
/koala-opencis/koala-opencis-sonar/bin
perfStats.log
/koala-plugin/koala-plugin-util-core/.classpath
/koala-plugin/koala-plugin-util-core/.project
/koala-plugin/koala-plugin-util-core/velocity.log.1
/koala-opencis/koala-openci-platform/.project
/koala-opencis/koala-openci-platform/koala-openci-platform-application/.project
/koala-opencis/koala-openci-platform/koala-openci-platform-application/.classpath

/koala-opencis/koala-openci-platform/koala-openci-platform-applicationImpl/velocity.log
/koala-opencis/koala-openci-platform/koala-openci-platform-applicationImpl/.classpath
/koala-opencis/koala-openci-platform/koala-openci-platform-applicationImpl/.koala
/koala-opencis/koala-openci-platform/koala-openci-platform-applicationImpl/.project
/koala-opencis/koala-openci-platform/koala-openci-platform-conf/.project
/koala-opencis/koala-openci-platform/koala-openci-platform-conf/.classpath
/koala-opencis/koala-openci-platform/koala-openci-platform-core/.project
/koala-opencis/koala-openci-platform/koala-openci-platform-core/.classpath
/koala-opencis/koala-openci-platform/koala-openci-platform-core/.koala
/koala-opencis/koala-openci-platform/koala-openci-platform-infra/.project
/koala-opencis/koala-openci-platform/koala-openci-platform-infra/.classpath
/koala-opencis/koala-openci-platform/koala-openci-platform-web/velocity.log
/koala-opencis/koala-openci-platform/koala-openci-platform-web/.classpath
/koala-opencis/koala-openci-platform/koala-openci-platform-web/.project
/koala-opencis/koala-openci-platform/koala-openci-platform-web/.web.koala
