#set($package = ${entity.className.substring(0, ${entity.className.lastIndexOf(".")})})
package ${applicationClass.packageName.replaceAll(".impl","")};
#set($domainClass = ${applicationClass.name.substring(0, ${applicationClass.name.indexOf("Application")})})
#set($variableName = ${domainClass.substring(0, 1).toLowerCase()} + ${domainClass.substring(1)})
#set($currntVO = ${domainClass.concat("DTO")})


import java.util.List;
import java.util.Set;
import  ${entity.className};

public interface ${applicationClass.name} {

#if($applicationClass.entityModel.singleIDFieldModel)
	public ${domainClass} get${domainClass}($applicationClass.entityModel.singleIDFieldModel.simpleType ${applicationClass.entityModel.singleIDFieldModel.name});
#end
	
	public void creat${domainClass}(${domainClass} ${variableName});
	
	public void update${domainClass}(${domainClass} ${variableName});
	
	public void remove${domainClass}(${domainClass} ${variableName});
	
	public void remove${domainClass}s(Set<${domainClass}> ${variableName}s);
	
	public List<${domainClass}> findAll${domainClass}();
	
}

