package org.openkoala.gqc.controller.generalquery;

import java.util.ArrayList;
import java.util.Collections;
import java.util.Date;
import java.util.HashMap;
import java.util.HashSet;
import java.util.List;
import java.util.Map;
import java.util.Map.Entry;
import java.util.Set;

import javax.inject.Inject;

import org.dayatang.utils.Page;
import org.openkoala.gqc.core.domain.DynamicQueryCondition;
import org.openkoala.gqc.core.domain.FieldDetail;
import org.openkoala.gqc.core.domain.GeneralQuery;
import org.openkoala.gqc.core.domain.PreQueryCondition;
import org.openkoala.gqc.facade.DataSourceFacade;
import org.openkoala.gqc.facade.GqcFacade;
import org.openkoala.gqc.facade.assembler.GqcAssembler;
import org.openkoala.gqc.facade.dto.DataSourceDTO;
import org.openkoala.gqc.facade.dto.GeneralQueryDTO;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;

/**
 * 
 * 通用查询控制层
 *
 */
@Controller
@RequestMapping("/generalquery")
public class GeneralQueryController {

	/**
	 * 数据源应用层接口实例
	 */
    @Inject
    private DataSourceFacade dataSourceFacade;
    
    /**
     * 查询通道应用层接口实例
     */
    @Inject
    private GqcFacade gqcFacade;
    
	/**
	 * 分页查询通用查询列表
	 * @param page
	 * @param pagesize
	 * @return
	 */
	@ResponseBody
    @RequestMapping("/pageJson")
	public Page pageJson(int page, int pagesize, String queryName) {
		//Json对象
        Page<GeneralQuery> all = null;
        if (queryName != null && !queryName.isEmpty()) {
        	all = gqcFacade.pagingQueryGeneralQueriesByQueryName(queryName, page, pagesize);
        } else {
        	all = gqcFacade.pagingQueryGeneralQueries(page, pagesize);
        }
        
        List<GeneralQueryDTO> generalQueryVos = new ArrayList<GeneralQueryDTO>();
        for (GeneralQuery generalQuery : all.getData()) {
        	generalQueryVos.add(GqcAssembler.getDTO(generalQuery));
        }
		return new Page(all.getStart(), all.getResultCount(), all.getPageSize(), generalQueryVos);
	}
    
	/**
	 * 新增
	 * @param generalQuery
	 * @return
	 */
    @ResponseBody
    @RequestMapping("/add")
    public Map<String,Object> add(GeneralQueryDTO generalQuery) {
    	 Map<String, Object> dataMap = new HashMap<String, Object>();
        try {
            generalQuery.setCreateDate(new Date());
            gqcFacade.saveGeneralQuery(generalQuery);
            dataMap.put("result", "success");
        } catch (RuntimeException e) {
            dataMap.put("result", e.getMessage());
            e.printStackTrace();
        } catch (Exception e) {
            dataMap.put("result", "保存失败！");
            e.printStackTrace();
        }
        
        return dataMap;
    }
    
    /**
     * 通过主键查询
     * @param request
     * @param id
     * @return
     */
    @ResponseBody
    @RequestMapping("/getById")
    public Map<String, Object> getById(Long id) {
    	System.out.println(id);
        //查询出该实体
    	GeneralQuery generalQuery = GqcAssembler.getEntity(gqcFacade.getById(id));

        //表中所有列，供查询条件选择
        Map<String, Integer> queryConditionColumns = dataSourceFacade.findAllColumn(
                    generalQuery.getDataSource().getId(), generalQuery.getTableName());
            
        //表中所有列，供显示列选择
        Map<String, Integer> showColumns = getCloneMap(queryConditionColumns);
            
       //把已被选择了的列从列池中去除
       this.removeTableMapLeftDiv(generalQuery, queryConditionColumns);
       this.removeTableMapRightDiv(generalQuery, showColumns);
       Map<String, Object> dataMap = new HashMap<String, Object>();
       dataMap.put("generalQuery", generalQuery);
       dataMap.put("queryConditionColumns", queryConditionColumns);
       dataMap.put("showColumns", showColumns);
       return dataMap;
    }
    
    /**
     * 更新
     * @param generalQuery
     * @return
     */
    @ResponseBody
    @RequestMapping("/update")
    public Map<String,Object> update(GeneralQueryDTO generalQuery) {
	    Map<String, Object> dataMap = new HashMap<String, Object>();
        try {
            generalQuery.setCreateDate(new Date());
            gqcFacade.saveGeneralQuery(generalQuery);
            dataMap.put("result", "success");
        } catch (RuntimeException e) {
            dataMap.put("result", e.getMessage());
        } catch (Exception e) {
            dataMap.put("result", "保存失败！");
        }
        
        return dataMap;
    }
    
    /**
     * 查询所有数据源
     * @return
     */
    @ResponseBody
    @RequestMapping("/findAllDataSource")
    public Map<String,Object> findAllDataSource() {
    	//Json对象
	    Map<String, Object> dataMap = null;
        try {
        	dataMap = new HashMap<String, Object>();
            
            List<DataSourceDTO> list = dataSourceFacade.findAllDataSource();
            dataMap.put("dataSourceList", list);
        } catch (Exception e) {
        	if(dataMap != null){
                dataMap.put("result", "获取数据源列表失败！");
        	}
        }
        
        return dataMap;
    }

	/**
	 * 删除
	 * @param ids
	 * @return
	 */
    @ResponseBody
    @RequestMapping("/delete")
	public Map<String,Object> delete(String ids) {
    	//Json对象
	    Map<String, Object> dataMap = new HashMap<String, Object>();
	    gqcFacade.removeEntity(ids);
		dataMap.put("result", "success");
		return dataMap;
	}
   
    /**
     * 获取指定数据源所有的表
     * @return
     */
    @ResponseBody
    @RequestMapping("/findAllTable")
    public Map<String,Object> findAllTable(Long id) {
    	//Json对象
	    Map<String, Object> dataMap = null;
        try {
        	dataMap = new HashMap<String, Object>();
            
            List<String> tableList = dataSourceFacade.findAllTable(id);
            Collections.sort(tableList);
            dataMap.put("tableList", tableList);
        } catch (Exception e) {
            e.printStackTrace();
            dataMap.put("result", "获取表失败！");
        }
        
        return dataMap;
    }
    
    /**
     * 获取指定表的所有列
     * @return
     * @param id 数据源主键
     * @param tableName
     * @return
     */
    @ResponseBody
    @RequestMapping("/findAllColumn")
    public Map<String,Object> findAllColumn(Long id, String tableName) {
    	//Json对象
	    Map<String, Object> dataMap = null;
        try {
        	dataMap = new HashMap<String, Object>();
            
            Map<String, Integer> tableMap = dataSourceFacade.findAllColumn(id, tableName);
            dataMap.put("tableMap", tableMap);
        } catch (Exception e) {
        	if(dataMap != null){
                dataMap.put("result", "获取列失败！");
        	}
        }
        
        return dataMap;
    }
    
    /**
     * 从条件列池中移除已经在静态/动态条件中的列
     * @param generalQuery
     * @param tableMapLeftDiv
     */
    private void removeTableMapLeftDiv(GeneralQuery generalQuery, Map<String, Integer> tableMapLeftDiv){
        //把已被选择了的列从列池中去除
        List<PreQueryCondition> list = generalQuery.getPreQueryConditions();
        for(PreQueryCondition bean : list){
            if(tableMapLeftDiv.containsKey(bean.getFieldName())){
                //把列类型赋值给PreQueryCondition
                bean.setFieldType(tableMapLeftDiv.get(bean.getFieldName()));
                tableMapLeftDiv.remove(bean.getFieldName());
            }
        }
        
        //把已被选择了的列从列池中去除
        List<DynamicQueryCondition> list2 = generalQuery.getDynamicQueryConditions();
        for(DynamicQueryCondition bean : list2){
            if(tableMapLeftDiv.containsKey(bean.getFieldName())){
                //把列类型赋值给DynamicQueryCondition
                bean.setFieldType(tableMapLeftDiv.get(bean.getFieldName()));
                tableMapLeftDiv.remove(bean.getFieldName());
            }
        }
    }
    
    /**
     * 从显示列池中移除已经用作显示的列
     * @param generalQuery
     * @param tableMapRightDiv
     */
    private void removeTableMapRightDiv(GeneralQuery generalQuery, Map<String, Integer> tableMapRightDiv){
        //把已被选择了的列从列池中去除
        List<FieldDetail> list3 = generalQuery.getFieldDetails();
        for(FieldDetail bean : list3){
            if(tableMapRightDiv.containsKey(bean.getFieldName())){
                tableMapRightDiv.remove(bean.getFieldName());
            }
        }
    }
	
	
	/**
	 * 克隆
	 * @param map
	 * @return
	 */
	public static Map<String,Integer> getCloneMap(Map<String,Integer> map){
        Map<String,Integer> mapClone = new HashMap<String,Integer>();
        for(Entry<String,Integer> e : map.entrySet()){
            mapClone.put(e.getKey(), e.getValue());
        }
        return mapClone;
    }
	
}
